<!DOCTYPE html>
<html>
  <head>
    <% for (var chunk in htmlWebpackPlugin.files.css) { %>
      <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>" as="style">
    <% } %>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
    <% } %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">

    <title><%= htmlWebpackPlugin.options.projectName %></title>
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.projectName %>">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.projectName %>">

    <meta name="description" content="<%= htmlWebpackPlugin.options.projectDescription %>">
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- <link rel="manifest" href="<%= htmlWebpackPlugin.options.deloyAppRootDir %>/manifest.json"> -->

    <!-- Theme Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.appThemeColor %>">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= htmlWebpackPlugin.options.appThemeColor %>">

    <!-- icons -->
    <link rel="icon" sizes="16x16"    href="<%= htmlWebpackPlugin.options.deloyAppRootDir %>/assets/img/icons/favicon-16x16.png">
    <link rel="icon" sizes="32x32"    href="<%= htmlWebpackPlugin.options.deloyAppRootDir %>/assets/img/icons/favicon-32x32.png">
    <link rel="icon" sizes="192x192"  href="<%= htmlWebpackPlugin.options.deloyAppRootDir %>/assets/img/icons/favicon-192x192.png">
    <!-- icons for Safari -->
    <link rel="apple-touch-icon"                  href="<%= htmlWebpackPlugin.options.deloyAppRootDir %>/assets/img/icons/touch-icon-iphone.png"> <!-- 180x180 -->
    <link rel="apple-touch-icon" sizes="152x152"  href="<%= htmlWebpackPlugin.options.deloyAppRootDir %>/assets/img/icons/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180"  href="<%= htmlWebpackPlugin.options.deloyAppRootDir %>/assets/img/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167"  href="<%= htmlWebpackPlugin.options.deloyAppRootDir %>/assets/img/icons/touch-icon-ipad-retina.png">

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- include styles css files here -->
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.assetsPrefix %>/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.assetsPrefix %>/assets/lib/bootstrap/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"> -->
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"> -->

  </head>

  <body>
    <div id='app_root'>

    </div>

    <!-- include third-parth lib (jquery, ...) here if necessary -->
    <!-- <script src="<%= htmlWebpackPlugin.options.assetsPrefix %>/assets/lib/jquery/jquery-3.1.1.min.js"></script> -->

    <!-- HtmlWebpackPlugin will generated code include index.js and vendor.bundle.js here -->
  </body>
</html>
